h2{
    font-size : 28px;
    color : #3388BB;
    text-transform : uppercase;
    border-bottom : 3px solid #3388DD;
}
body{
    background-color: #CCCCCC;
}

.page{
    font-size : 16px;
    font-family : 'Source sans Pro' , Calibri, Tahoma, sans-serif;
    width: 1200px;
    margin : auto;
    padding: 60px;
    border : 5px solid #3388CC;
    border-radius : 10px;
    box-shadow : 2px 4px 3px black;
    background-color : #FFFFFF;
}

.photo{
    height : 3%;
    width : 5%;
}

.info{
    float : left;
}

.photo{
    float: right;
}

.section{
   margin-bottom : 70px; 
   text-align : justify;
}
.sec-gauche{
    float : left;
    font-weight: normal;
    font-size: 20px;
}
.sec-droite{
    margin-left: 250px;
}
.duree{
    font-weight : normal;
    font-style : italic;
    font-size : 16px;
}
.strong{
    font-size : 26px;
}
.titre{
    font-weight : bold;
    font-size: 20px
}
.title-section{
    margin-left: 25px
}