h2{
    font-size : 28px;
    font-weight: bold;
    color : #3388BB;
    text-transform : uppercase;
    text-decoration: underline #3388DD;
    margin-left: 5px;
}
body{
    background-image:url(Fond.jpg);
    background-attachment:fixed;
}

.page{
    font-size : 20px;
    font-family : 'Source sans Pro' , Calibri, Tahoma, sans-serif;
    margin : auto;
    padding: 60px;
    border : 5px solid #3388CC;
    border-radius : 10px;
    box-shadow : 2px 4px 3px black;
    background-color : #FFFFFF;
}
.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
  }
.photo{
    height : 5%;
    width : 9%;
}
.section{
   margin-bottom : 30px; 
   text-align : justify;
}
.sec-gauche{
    font-weight: normal;
    font-size: 20px;
}
.duree{
    font-weight : normal;
    font-style : italic;
    font-size : 16px;
}
.strong{
    font-size : 26px;
}
.titre{
    font-weight : bold;
    font-size: 20px
}
.title-section{
    margin-left: 15px;
    margin-bottom : 15px; 
}
.section-part{
    text-align : justify;
    margin-left: 2px;
}